#modal-background {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
}

#modal-content {
  background-color: white;
  width: 80%;
  height: auto;
  padding: 1%;
}

#login-form {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
}
